html,
body,
[aurelia-app] {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

[aurelia-app] {
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;
}

router-view {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;

  margin: 1rem 3rem 1rem .5rem;
  padding: .5rem;
  border: 2px solid black;
  border-radius: 1rem;
  min-height: 10rem;
}

router-view>router-view {
  margin: 0;
}
